body {
    font-family: Arial, sans-serif;
  
    background-image: url("back.jpg"); 
    background-size: cover;               
           
    background-repeat: no-repeat;
    filter: blur(100%); 
    margin: 2%;
    padding-top: 80px; 
    
    font-weight: bold; 

}
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #2ecc71;
    padding: 10px 20px;
    box-sizing: border-box;
}

.logo {
    color: white;
    margin: 0;
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navLinks li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navLinks li a:hover {
    color: rgb(167, 212, 95);
}
.headingWelcome{
margin-trim:all;
  margin-top:4px;
  margin-left: 2px;
  font-size: 80px;
  font-family:cursive;
  font-variant: small-caps;
  color: blanchedalmond;
  animation: bounce 10s infinite;
  animation-timing-function: linear;
  animation-fill-mode:initial;
 
}
 @keyframes bounce {
      0%{
        transform:translateY(10%);
      }
      25% {
        transform: translateY(15%);
      }
       50% {
        transform: translateY(20%);
      }
       75% {
        transform: translateY(25%);
      }
      
       100% {
        transform:translateY(30%);
      }
    }
.Welcome{
 border-radius: 50%;
}
.div1{
    display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#home{
  margin-top: 40%;
  color:rgb(10, 10, 10);
  flex: 1;
  align-items: center;
  padding: 1rem;
  max-width: 300px;
  min-height: 350px ;
  border-radius: 4%;
  }
    #tutorials{
    flex: 1;
    margin-top: 40%;
    color:rgb(10, 10, 10);
  align-items: center;
  padding: 1rem;
  max-width: 300px;
  min-height: 350px ;
    border-radius: 4%;

  }  
  #contact{
  flex: 1;
  margin-top: 40%;
  color:rgb(10, 10, 10);
  align-items: center;
  padding: 1rem;
  max-width: 300px;
  min-height: 350px ;
    border-radius: 4%;

  }  
.FormBox{
  align-items: center;
  justify-content: space-around;
}
#home:hover{
color: wheat;
background-color:rgba(223, 221, 216, 0.146);
  border-left: 2px solid black;}
#contact:hover{
   color:wheat;
   background-color:rgba(223, 221, 216, 0.146);
  border-left: 2px solid black;
} 

#tutorials:hover{
   color:wheat;
   background-color:rgba(223, 221, 216, 0.146);
  border-left: 2px solid black;
}
